{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Navigation plugin for Craft CMS 3.x
 *
 * Navigation index.twig
 *
 * @author    Fatfish
 * @copyright Copyright (c) 2018 Fatfish
 * @link      https://fatfish.com.au
 * @package   Navigation
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set selectedTab= 'editmenu' %}
{% do view.registerAssetBundle("fatfish\\navigation\\assetbundles\\navigation\\NavigationAsset") %}
{% do view.registerAssetBundle("fatfish\\navigation\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

 {#{% set basePadding = (context == 'index' ? 20 + (showCheckboxes ? 7 : 0) + (structureEditable ? 14 : 0) : 7) %}#}
    {% set padding = craft.app.locale.getOrientation() == 'ltr' ? 'left' : 'right' -%}
{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/https://github.com/fatfishdigital/navigation/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Navigation" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('navigation') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@fatfish/navigation/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('navigation') }}</a>
    </div>
{% endset %}


{# The content of the CP Section#}
{% set content %}
{% if MenuData is defined %}

        {% if MenuData is iterable %}

            {% set menuid=MenuData[0].id %}
            {% set menuname=MenuData[0].MenuName %}
            {% set MenuHtml = MenuData[0].MenuHtml %}
            {% endif %}



    {% else %}
        {% set menuid='' %}
        {% set menuname=''%}
        {% set MenuHtml = '' %}
    {% endif %}

   <div id="main-content">
                <div class="sidebar" style="width: 400px;">
                    <div id="button-container">
                        <div class="btngroup submit">
                            <a class="btn submit add icon" id="NewMenu">Create Menu</a>


                        </div>
                    </div>
                    <br>
            <div class="back">
            <div class="pane">
                <h2>Navigation Menu List</h2>
                <hr>
                <div class="settings">

                    {% if Menu is defined and Menu is iterable  %}
                        <nav>
                        <ul style="list-style: none" id="groups">
                            {% for menulist in Menu  %}
                                 <li>
                                     {% if menulist.MenuName == menuname %}
                                         <a href="{{ url('craftnavigation/edit/' ~ menulist.id) }}" class="sel">{{ menulist.MenuName }}</a>
                                         {% else %}
                                             <a href="{{ url('craftnavigation/edit/' ~ menulist.id) }}">{{ menulist.MenuName }}</a>
                                     {% endif %}

                                    <a class="edit icon EditNav" data-id="{{ menulist.id }}" title="{{ menulist.MenuName }}"></a>
                                    <a class="delete icon DeleteNav" data-id="{{ menulist.id }}" title="{{ menulist.MenuName }}"></a>
                                </li>
                            {% endfor %}
                        </ul>
                        </nav>
                    {% endif %}


                  {% if MenuList is defined and MenuList is iterable  %}
                      <nav>
                      <ul style="list-style: none" id="groups">
                      {% for Menu in MenuList  %}
                          <li><a href="{{ url('craftnavigation/edit/' ~ Menu.id) }}">{{ Menu.MenuName }}</a>
                               <a class="edit icon EditNav" data-id="{{ Menu.id }}" title="{{ Menu.MenuName }}"></a>
                              <a class="delete icon DeleteNav" data-id="{{ Menu.id }}" title="{{ Menu.MenuName }}"></a>
                          </li>
                      {% endfor %}
                      </ul>
                      </nav>
                    {% endif %}
                </div>
            </div>
            </div>

        </div>
       {% if menuname is not empty %}
        <div id="content-container">

            <div class="back">
                <div class="pane">
                    <h2 class="namelabel">Editing {{ menuname }}</h2>
                    <input type="text" name="menuname" value="{{ menuname }}" id="menuname" hidden/>
                    <input type="text" name="menuname" value="{{ menuid }}" id="menuid" hidden/>
                </div>
            </div>



            <div id="content">

                <div class="row">


                    <ol class="sortable ui-sortable mjs-nestedSortable-branch mjs-nestedSortable-expanded" id="navigation-menu">
                                                   {{ MenuHtml | raw}}

                    </ol>


                </div>

            </div>
            <div class="settings" style="padding-left: 10px">
                <button class="btn add icon" id="savemenu">Save Menu</button>
                <button class="btn add icon" id="addpage">Entry</button>
                <button class="btn add icon" id="customPage">External Link</button>
            </div>

        </div>
       {% endif %}
    </div>





    <script id="form_element" type="text/template">
        <div class="body">
            <div class="field" id="node__url-name">
                <div class="heading">
                    <label class="required" for="name">{{ 'Entry Name' }}</label>
                </div>
                <div class="input ltr">
                    <input class="text node-name fullwidth" type="text" id="name" autocomplete="off">
                </div>
            </div>
            <div class="field" id="node__url-url">
                <div class="heading">
                    <label class="required" for="url">{{ 'URL' }}</label>
                </div>
                <div class="input ltr">
                    <input class="text node-url fullwidth" type="text" id="url" name="url" autocomplete="off">
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="buttons right">
                <input type="button" class="btn submit" value="{{ 'Cancel'|t('app') }}" id="exit">
                 <input type="submit" class="btn submit" value="{{ 'Add'|t('app') }}" id="BtnCustomUrl">
            </div>
        </footer>

    </script>
<!--
Create New Menu dialog box
-->
    <script id="create_menu" type="text/template">
        <div class="body">
            <div class="field" id="node__url-name">
                <div class="heading">
                    <label class="required" for="name">{{ 'New Menu Name' }}</label>
                </div>
                <div class="input ltr">
                    <input class="text node-name fullwidth" type="text" id="name" autocomplete="off" required>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="buttons right">
                <input type="button" class="btn submit" value="{{ 'Cancel'|t('app') }}" id="exit">
                <input type="submit" class="btn submit" value="{{ 'Add'|t('app') }}" id="MenuBtn">
            </div>
        </footer>

    </script>

    <script id="remove_node" type="text/template">

        <div class="body">
            <div class="field" id="node__url-name">
                <div class="heading">
                    <label class="required" for="name">{{ 'Do you want to remove this menu item ?' }}</label>
                </div>

            </div>
        </div>
        <footer class="footer">
            <div class="buttons right">
                <input type="button" class="btn submit" value="{{ 'Cancel'|t('app') }}" id="exit">
                <input type="submit" class="btn submit" value="{{ 'Delete'|t('app') }}" id="Delete">
            </div>
        </footer>



    </script>
    <script id="DeleteMenu" type="text/template">
        <div class="body">
            Are you sure you want to delete ?
        </div>
        <footer class="footer">
            <div class="buttons right">
                <input type="button" class="btn submit" value="{{ 'Cancel'|t('app') }}" id="exit">
                <input type="button" class="btn submit" value="{{ 'Delete'|t('app') }}" id="MenuBtn">

            </div>
        </footer>

    </script>
    
    <script id="EditMenuName" type="text/template">
        <div class="body">
            <div class="field" id="node__url-name">
                <div class="heading">
                    <label class="required" for="name">{{ 'Edit Menu Name' }}</label>
                </div>
                <div class="input ltr">
                    <input class="text menu-name fullwidth" type="text" id="name" autocomplete="off" required>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="buttons right">
                <input type="button" class="btn submit" value="{{ 'Cancel'|t('app') }}" id="exit">
                <input type="submit" class="btn submit" value="{{ 'Add'|t('app') }}" id="EditMenuBtn">
            </div>
        </footer>
                </div>


    </script>
    {% js %}

        $('ol.sortable').nestedSortable({
        forcePlaceholderSize: true,
        handle: 'div',
        helper:    'clone',
        items: 'li',
        opacity: .6,
        placeholder: 'placeholder',
        revert: 250,
        tabSize: 25,
        tolerance: 'pointer',
        toleranceElement: '> div',
        maxLevels: 4,
        isTree: true,
        expandOnHover: 700,
        startCollapsed: false
        });
    {% endjs %}



{% endset %}
