{% import _self as macros %}
{% macro menu(node) %}
    {% import _self as macros %}
    {% set Grandchildren = craft.Navigation.renderChildren(node) %}
    {% if Grandchildren | length > (0) %}
        <ul>
            {% for grandchildren in Grandchildren  %}
                <li>
                        {% set grandchildren_children = craft.Navigation.renderChildren(grandchildren)|length %}
                            {% if grandchildren_children > (0) %}
                                <a href="{{ grandchildren.menuUrl }}">{{ grandchildren.NodeName }}</a>
                                {{ macros.menu(grandchildren) }}  {# helping to print nested loop #}
                            {% else %}
                                <a href="{{ grandchildren.menuUrl }}">{{ grandchildren.NodeName }}</a>
                                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


{% macro craft_internal_page_menu(node) %}
    {% import _self as macros %}
    {% set Grandchildren = craft.Navigation.renderChildren(node) %}
    {% if Grandchildren | length > (0) %}
        <ul>
            {% for grandchildren in Grandchildren  %}
                <li>
                    {% set grandchildren_children = craft.Navigation.renderChildren(grandchildren)|length %}
                    {% if grandchildren_children > (0) %}
                        <a href="/{{ craft.entries.id(grandchildren.NodeId).one().uri }}">{{ grandchildren.NodeName }}</a>
                        {{ macros.menu(grandchildren) }}  {# helping to print nested loop #}
                    {% else %}
                        <a href="/{{ craft.entries.id(grandchildren.NodeId).one().uri }}">{{ grandchildren.NodeName }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}


{% endmacro %}

<div class="{% if menucss.wrapperClass is defined %} {{ menucss.wrapperClass }} {% endif %}">
<ul class="{% if menucss.ulClass is defined %}{{ menucss.ulClass }}{% endif %}">

    {% if MenuNodes is defined %}
        {% if MenuNodes is iterable %}
           {% for Nodes in MenuNodes %}
                {% if Nodes.ParenNode == (0) %}
                        {% if craft.entries.id(Nodes.NodeId).one() is null  %} {# for external links #}
                          {% set has_child_menu= craft.Navigation.renderChildren(Nodes)|length %}
                            {% if has_child_menu > (0) %}
                                <li class="{% if menucss.listClass is defined %} {{ menucss.listClass }} {% endif %}">
                                {{ Nodes.NodeName }}
                                {{ macros.menu(Nodes) }}
                                </li>
                                {% else %}
                                 <li class="{% if menucss.listClass is defined %} {{ menucss.listClass }} {% endif %}">
                                 <a href="{{ Nodes.menuUrl }}" class="">{{ Nodes.NodeName }}</a>
                                 </li>
                                {% endif %}

                        {% else %} {# this is craft internal page#}
                        {% set does_craft_page_has_child = craft.Navigation.renderChildren(Nodes)|length %}

                            {% if does_craft_page_has_child > (0) %}
                                <li class="{% if menucss.listClass is defined %} {{ menucss.listClass }} {% endif %}">
                                    {{ Nodes.NodeName }}
                                    {{ macros.craft_internal_page_menu(Nodes) }}
                                </li>
                            {% else %}
                                <li class="{% if menucss.listClass is defined %} {{ menucss.listClass }} {% endif %}">
                                    <a href="/{{ craft.entries.id(Nodes.NodeId).one().uri }}" class="">{{ Nodes.NodeName }}</a>
                                </li>
                            {% endif %}

                        {% endif %}
               {% endif %}
           {% endfor %}
        {% endif %}
    {% endif %}
</ul>
</div>
